/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
Gemfile.lock
Gemfile-*.lock
.envrc
.ruby-version
.DS_Store
/test.rb

# Native extension binaries
lib/**/*.bundle
lib/**/*.so
lib/**/*.o
lib/**/*.dylib
lib/**/*.dll

# Datadog extension config
.cursor/mcp.json

# Local extensions configs
.vscode
