name: Check
on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: '3.4'
      - name: Install dependencies
        run: bundle install
      - run: bundle exec standardrb

  typecheck:
    name: Type checking
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: '3.4'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Check for stale signature files
        run: bundle exec rake rbs:stale
      - name: Check for missing signature files
        run: bundle exec rake rbs:missing
      - name: Check types
        run: bundle exec rake steep:check
      - name: Record stats
        run: bundle exec rake steep:stats[md] >> $GITHUB_STEP_SUMMARY
