name: Check
on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          ruby-version: '3.4'
      - name: Install dependencies
        run: bundle install
      - run: bundle exec standardrb

  typecheck:
    name: Type checking
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          ruby-version: '3.4'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Check for stale signature files
        run: bundle exec rake rbs:stale
      - name: Check for missing signature files
        run: bundle exec rake rbs:missing
      - name: Check types
        run: bundle exec rake steep:check
      - name: Record stats
        run: bundle exec rake steep:stats[md] >> $GITHUB_STEP_SUMMARY
