name: 'Integration test run'
on:
  # Build each branch for testing
  push:

jobs:
  build_and_run_integration_test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ruby_image:
          - ruby:3.0
          - ruby:3.1
          - ruby:3.2
          - ruby:3.3
    steps:
      - name: Checkout datadog-ci
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Run test
        working-directory: integration/app
        run: |
          BASE_IMAGE=${{matrix.ruby_image}} docker compose run --rm --no-deps app "bundle install && bundle exec rake test"
