name: Publish Gem

on:
  push:
    tags:
      - 'v*'

jobs:
  push:
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      id-token: write

    environment: release

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          bundler-cache: true
          ruby-version: '3.4'
      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2
