name: Publish Gem

on:
  push:
    tags:
      - 'v*'

jobs:
  push:
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      id-token: write

    environment: release

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          bundler-cache: true
          ruby-version: '3.4'
      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2
